VITE_SUPABASE_URL=https://xwcpgmedpawtnklhljpo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh3Y3BnbWVkcGF3dG5rbGhsanBvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg1NzY2NzIsImV4cCI6MjA5NDE1MjY3Mn0.k27_FF1JoM1w7MWZordL-HtiF2292RGK2G0Dw3Ss7dY
