@import "tailwindcss";

@theme {
  --font-sans: "Quicksand", ui-sans-serif, system-ui, sans-serif;
  
  --color-brand-primary: #00843D;
  --color-brand-primary-container: #83CC9B;
  --color-brand-secondary: #003366;
  --color-brand-secondary-container: #E3E9F2;
  --color-brand-background: #F5F5F5;
  --color-brand-surface: #FFFFFF;
  --color-brand-on-surface: #191A19;
  --color-brand-on-surface-variant: #4E514F;
  --color-brand-outline: #A9B3AC;
  --color-brand-error: #BA1A1A;
  --color-brand-surface-lowest: #FFFFFF;
  --color-brand-surface-low: #F0F4F1;
  --color-brand-surface-highest: #DDE4DF;
  --color-brand-surface-variant: #DDE4DF;
  --color-brand-tertiary: #1B4332;
  --color-brand-secondary-fixed: #B7E4C7;

  
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
}

@layer base {
  body {
    @apply bg-brand-background text-brand-on-surface font-sans;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
